# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/case1/case1_008.dcm
public/case1/case1_010.dcm
public/case1/case1_012.dcm
public/case1/case1_014.dcm
public/case1/case1_016.dcm
public/case1/case1_018.dcm
public/case1/case1_020.dcm
public/case1/case1_022.dcm
public/case1/case1_024.dcm
public/case1/case1_026.dcm
public/case1/case1_028.dcm
public/case1/case1_030.dcm
public/case1/case1_032.dcm
public/case1/case1_034.dcm
public/case1/case1_036.dcm
public/case1/case1_038.dcm
public/case1/case1_040.dcm
public/case1/case1_042.dcm
public/case1/case1_044.dcm
public/case1/case1_046.dcm
public/case1/case1_048.dcm
public/case1/case1_050.dcm
public/case1/case1_052.dcm
public/case1/case1_054.dcm
public/case1/case1_056.dcm
public/case1/case1_058.dcm
public/case1/case1_060.dcm
public/case1/case1_062.dcm
public/case1/case1_064.dcm
public/case1/case1_066.dcm
public/case1/case1_068.dcm
src/pages/test.json
src/services/PusherService.ts
./src/services/PusherService